.navbar{
  margin-top: 15px;
}
.nav-item {
  font-weight: bolder;
  margin-right: 40px;
}

.nav-item a {
  color: black;
}

#biography {
  margin-top: 30px;
  max-width: 1540px;
  max-height: auto;
  border: none;
}

#profile {
  height: 250px;
  width: 250px;
  margin: 0 0 0 50px;
}

#interests-card {
  margin: 10px 10px 10px 10px;
}

.interests {
  max-width: 18rem;
  height: 10rem;
  float: left;
  margin: 0 20px 10px 10px;
  color: white;
  background-color: #198754;
}
.card-academic{
  border: none;
}
.card-project{
  border: none;
}
.card-body {
  border: none;
  background-color: transparent;
}

.interests.card-header {
  font-size: 10px;
}

#links {
  clear: both;
  height: 60px;
  width: 600px;
  margin: 0 0 0 40%;
}

#links .btn {
  margin: 10px 10px 10px 10px;
}
hr{
  background-color: black;
  height: 2px;
}

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }

  #biography {
    padding: 30px;
  }

  .interests {
    margin-bottom: 20px;
  }
  .navbar {
    padding: 20px;
  }

  .fs-4 {
    margin-top: 20px;
  }

  .card {
    margin: 20px 0;
  }
  .navbar {
    padding: 20px; /* Adjust padding for the navbar on larger screens */
  }

  .fs-4 {
    margin-top: 20px; /* Adjust margin-top for fs-4 class on larger screens */
  }

  .pdf-section {
    width: 80%; /* Adjust width for the PDF section on larger screens */
    margin: 0 auto; /* Center the PDF section */
  }

  .btn-primary {
    font-size: 1.5rem; /* Adjust font size for the primary button on larger screens */
  }
}