.navbar{
  margin-top: 15px;
}
.nav-item {
  font-weight: bolder;
  margin-right: 40px;
}

.nav-item a {
  color: black;
}

#biography {
  margin-top: 30px;
  max-width: 1540px;
  max-height: auto;
  border: none;
}

#profile {
  height: 250px;
  width: 250px;
  margin: 0 0 0 50px;
}

#interests-card {
  margin: 10px 10px 10px 10px;
}

.interests {
  max-width: 18rem;
  height: 10rem;
  float: left;
  margin: 0 20px 10px 10px;
  color: white;
  background-color: #198754;
}
.card-academic{
  border: none;
}
.card-project{
  border: none;
}
.card-body {
  border: none;
  background-color: transparent;
}
.interests{
  border-radius: 20px;
  transition: box-shadow 0.3s, background-color 0.3s;
}
.interests:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.919);
}
.interests.card-header {
  font-size: 10px;
}

#links {
  clear: both;
  height: 60px;
  width: 600px;
  margin: 0 0 0 40%;
}

#links .btn {
  margin: 10px 10px 10px 10px;
}
hr{
  background-color: black;
  height: 2px;
}


@media (max-width: 576px) {
  .dropdown{
    margin-right: 80px;
  }
  p{
    font-size: 20px;
  }
  .card-title,.card-text{
    font-size: 12px;
  }
  .fs-4{
    font-size: 14px;
  }
  .interests{
    margin-left: 25%;
    height: 150px;
    width: 450px;
  }
  .interests.card-header {
    font-size: 10px;
  }
  #profile {
    height: 100px;
    width: 100px;
    margin: 0 0 0 40%;
  }
  #links{
    margin-left: 18%;
  }
  #pdf-show{
    height: 0vh;
  }
}
